<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About US</title>
</head>
<body>

<h1>About Our Business</h1>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'contact' %}">Contact</a>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloremque ipsa iusto magnam nisi numquam obcaecati voluptatem. Aliquid, cupiditate harum incidunt obcaecati quibusdam repudiandae tempore temporibus ullam unde. Explicabo, veniam?</span><span>Aliquam excepturi expedita iusto minus qui quisquam tempora tenetur voluptatibus. At distinctio dolorem doloremque ea, earum hic nam nemo nobis obcaecati placeat reprehenderit, sint vel? Ad ipsa odit temporibus ut.</span><span>Ab aliquam aliquid aperiam atque commodi culpa cupiditate et excepturi illum laborum libero minima necessitatibus neque nihil nobis omnis optio perferendis, quam, quia repellat repellendus saepe sapiente sit ut, vel.</span></p>

<h2>More About Our History</h2>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto consequatur dignissimos dolore eligendi facere fuga hic ipsa, itaque magnam molestiae natus, placeat quia repellendus reprehenderit soluta tempora tempore ullam.</span><span>Asperiores cum cumque dolorem itaque suscipit. A aspernatur consequuntur ipsum minima nam nobis odio porro provident reiciendis sequi. Blanditiis culpa distinctio ea id incidunt nihil nostrum suscipit! Exercitationem, in repellendus!</span><span>Aliquam aliquid aut doloribus dolorum eaque ex expedita explicabo, impedit iste labore laudantium nam nemo omnis optio quae reprehenderit soluta suscipit ut. Consectetur distinctio dolores ea facere repudiandae sunt voluptas?</span></p>


</body>
</html>