<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Page</title>
    {% load static %}
</head>
<body>

<h1>Reach Out To Us!</h1>

<a href="{% url 'home' %}">Home</a>
<a href="{% url 'about' %}">About</a>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem blanditiis consequuntur, cum esse id illo in, itaque laudantium maiores modi necessitatibus nesciunt nihil numquam, pariatur quae quasi quia veritatis.</span><span>Accusantium dolorem doloremque enim facere fugiat harum impedit, incidunt ipsam iusto labore nihil optio ratione rem unde vitae. Accusantium aspernatur blanditiis consequuntur cumque doloribus modi molestiae necessitatibus nostrum saepe totam?</span><span>Assumenda iusto, labore officia ratione sint ut vero? Amet atque consequatur cum enim incidunt nam obcaecati odit, porro, possimus praesentium quam quia quidem quisquam reiciendis reprehenderit repudiandae rerum saepe veniam.</span></p>
<img src="{% static 'assets/img_0.png' %}" alt="">


</body>
</html>